html,body { height:100%; }

/* Sidebar */

.sidebar {
    background-color: lightgray;
    padding: 20px;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;

}

.room-name {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.room-name:hover {
    cursor: pointer;
    font-weight: bold;
}

.btn.btn-primary {
    margin-bottom: 10px;

}

/* Messages */

.messages {
    background-color: white;
    position: fixed;
    padding: 10px;
    top: 0px;
    left: 35%;
    width: 70%;
    height: 100%;
    z-index: 1;
}

.messages-body {
    width: 100%;
    padding: 10px;
    margin: 0px auto 10px auto;
    position: relative;

}

.messages-body:nth-child(even) {
    background-color: lightblue;
}

.messages-body:nth-child(odd) {
    background-color: tan;
}

.messages-body .username {
    font-weight: bold;

}

.messages-body .timestamp {

    color: gray;
    position: absolute;
    top: 20px;
    right: 20%;

}

.messages-body .usermessage {
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.messages-field {
    position: fixed;
    bottom: 0;
    left: 31%;
    width: 70%;
}
