html,body { height:100%; }

/* Sidebar */

.sidebar {
    background-color: lightgray;
    padding: 20px;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}

.sidebar-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-title {
    display: inline-block;
    padding-right: 15px;

}

.room-name {
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.room-name:hover {
    cursor: pointer;
    font-weight: bold;
}

.btn.btn-primary {
    margin-bottom: 10px;

}

.room-name {
    padding-left: 10px;

}

/* Messages */

.messages {
    background-color: white;
    position: fixed;
    padding: 10px;
    top: 0px;
    left: 35%;
    width: 70%;
    height: 100%;
    z-index: 1;
}

.messages-body {
    background-color: yellow;
}
