html,body { height:100%; }

.sidebar {
    background-color: lightgray;
    float: left;
    padding: 20px;
    height: 100%;
    width: 30%;
}

.btn .btn-primary {
    position: relative;

}

.messages {

    background-color: yellow;

}
